### Editor
/.ide/
/.idea/
/.phpstorm.meta.php/
*.code-workspace

### Dev
/vendor
/*.cache
/.phpunit.cache
/phpunit.xml
/index.php
/*.png
/*.jpg
/*.jpeg
.lerd.yaml

### Symfony
/var
/public/cache
/public/build
.env
