### Editor
/.ide/
/.idea/
/.phpstorm.meta.php/
*.code-workspace

### Dev
/vendor
/config
/.project
/.bundle
/node_modules
/*.cache
/*.lock
/.phpunit.cache
/phpunit.xml
/*.css
/*.png
/*.jpg
/*.jpeg
/index.php

### Symfony
/var
/public/cache
/public/build
.env
