parameters:
	level: 9
	paths:
		- src
		- tests
	excludePaths:
		- var/*
	treatPhpDocTypesAsCertain: false
rules:
	- Northrook\Dev\PHPStan\ClassRequiresMemberRule
	- Northrook\Dev\PHPStan\InterfaceRequiresMemberRule
	- Northrook\Dev\PHPStan\LooseAbstractMemberRule
